[submodule "ports/pico/pico-sdk"]
	path = musin/ports/pico/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk.git
[submodule "ports/pico/pico-extras"]
	path = musin/ports/pico/pico-extras
	url = https://github.com/raspberrypi/pico-extras.git
[submodule "ports/pico/libraries/pico-vfs"]
	path = musin/ports/pico/libraries/pico-vfs
	url = https://github.com/DavidMenting/pico-vfs.git
[submodule "lib/etl"]
	path = lib/etl
	url = https://github.com/ETLCPP/etl.git
[submodule "test/musin/Catch2/Catch2"]
	path = lib/test/Catch2
	url = https://github.com/catchorg/Catch2.git
