[submodule "mimxrt10xx/libraries/tinyusb"]
	path = src/libraries/tinyusb
	url = git@github.com:hathach/tinyusb.git
[submodule "mimxrt10xx/libraries/Arduino-USBMIDI"]
	path = src/libraries/Arduino-USBMIDI
	url = git@github.com:lathoub/Arduino-USBMIDI.git
[submodule "mimxrt10xx/libraries/arduino_midi_library"]
	path = src/libraries/arduino_midi_library
	url = https://github.com/FortySevenEffects/arduino_midi_library
[submodule "mimxrt10xx/sdk"]
	path = src/sdk
	url = git@github.com:nxp-mcuxpresso/mcux-sdk.git
[submodule "ports/pico/pico-sdk"]
	path = ports/pico/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk.git
[submodule "ports/pico/pico_audio_i2s_32b"]
	path = ports/pico/pico_audio_i2s_32b
	url = https://github.com/elehobica/pico_audio_i2s_32b.git
[submodule "ports/pico/pico-extras"]
	path = ports/pico/pico-extras
	url = https://github.com/raspberrypi/pico-extras.git
